<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/6_string_formating/working_with_strings_solution_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Solution 1:

Here's one way to implement the solution using f-strings in Python:

In [1]:
users = [
    {'first_name': 'John', 'last_name': 'Doe', 'age': 30, 'country': 'USA'},
    {'first_name': 'Jane', 'last_name': 'Doe', 'age': 28, 'country': 'Canada'},
    {'first_name': 'Alice', 'last_name': 'Johnson', 'age': 25, 'country': 'UK'},
    {'first_name': 'Bob', 'last_name': 'Smith', 'age': 32, 'country': 'Australia'}
]

for user in users:
    formatted_string = f"{user['first_name']} {user['last_name']} is {user['age']} years old and comes from {user['country']}."
    print(formatted_string)

John Doe is 30 years old and comes from USA.
Jane Doe is 28 years old and comes from Canada.
Alice Johnson is 25 years old and comes from UK.
Bob Smith is 32 years old and comes from Australia.

## Solution 2:

Here's one way to implement the solution using f-strings in Python:

In [2]:
products = [
    ('Laptop', 999.99, 5),
    ('Smartphone', 799.99, 10),
    ('Tablet', 399.99, 7),
    ('Headphones', 149.99, 25)
]

for product in products:
    name, price, quantity = product
    formatted_string = f"{name} - Price: ${price:.2f} - Quantity: {quantity}"
    print(formatted_string)

Laptop - Price: $999.99 - Quantity: 5
Smartphone - Price: $799.99 - Quantity: 10
Tablet - Price: $399.99 - Quantity: 7
Headphones - Price: $149.99 - Quantity: 25

## Solution 3:

Here's one way to implement the solution using f-strings in Python:

In [ ]:
students = [
    {'name': 'John', 'scores': [85, 90, 78, 92, 88]},
    {'name': 'Jane', 'scores': [80, 85, 91, 89, 93]},
    {'name': 'Alice', 'scores': [92, 96, 80, 81, 85]},
    {'name': 'Bob', 'scores': [82, 84, 90, 78, 79]}
]

for student in students:
    average_score = sum(student['scores']) / len(student['scores'])
    formatted_string = f"{student['name']}: Average Score: {average_score:.2f}"
    print(formatted_string)