<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_hannah/6_string_formating/study_guide_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('sting')

sting

## String

Python strings are sequences of characters enclosed in quotes (either single quotes ' or double quotes "). They are used to represent text data in Python programs. Strings are an example of a built-in data type in Python.

Here's a brief explanation of Python strings and some simple examples:

1. `Creating strings`: Strings can be created using single quotes or double quotes. You can also use triple quotes (''' or """) to create multiline strings.

In [2]:
# Creating strings
string1 = 'Hello, World!'
string2 = "Python is fun!"
string3 = '''This is a
multiline
string.'''

In [3]:
print(string1)

Hello, World!

In [4]:
print(string3)

This is a
multiline
string.

In [5]:
string4 = ''' i like
volleyball.
i like to read
i like to walk  '''

In [6]:
print(string4)

 i like
volleyball.
i like to read
i like to walk

2. `Accessing characters`: You can access individual characters in a string using indexing, with the index starting from 0.

In [16]:
name = 'charlie'
first_char = name[0]  # 'A'
second_char = name[1]  # 'l'

In [17]:
print(first_char)

c

In [18]:
print(second_char)

h

In [19]:
name[2]

'a'

In [20]:
name[3]

'r'

In [21]:
name[4]

'l'

In [22]:
name[5]

'i'

In [23]:
name[6]

'e'

3. `String slicin`g: You can extract a substring from a string using slicing. The syntax for slicing is `string[start:stop:step]`, where `start` is the starting index, `stop` is the ending index (exclusive), and `step` is the interval between characters.

In [30]:
text = 'Python strings write'
substring = text[0:6]  # 'Python'

In [35]:
print(text)

Python strings write

In [ ]:
wewysfgdesK.fgdesyhxj

'Python'

In [26]:
substring = text[1:8]

In [28]:
text[7:14]

'strings'

4. `String length`: You can find the length of a string using the built-in `len()` function.

In [ ]:
message = 'Hello, World!'
length = len(message)  # 13

5. `String concatenation`: You can join two strings together using the `+` operator.

In [ ]:
greeting = 'Hello'
name = 'Alice'
message = greeting + ', ' + name  # 'Hello, Alice'

6. `String methods`: Strings have many built-in methods that you can use to perform various operations, such as converting to uppercase, replacing characters, splitting strings, etc.

In [ ]:
text = 'python programming'

# Convert to uppercase
uppercase_text = text.upper()  # 'PYTHON PROGRAMMING'

# Replace characters
replaced_text = text.replace('python', 'Java')  # 'Java programming'

# Split string
words = text.split(' ')  # ['python', 'programming']

## Problem 1:

You are given a list of dictionaries, each containing a user's information: first name, last name, age, and country. Your task is to write a Python script that iterates through the list and prints out the user's information in a formatted string as follows:

In [ ]:
<First Name> <Last Name> is <Age> years old and comes from <Country>.

Here's the list of dictionaries:

In [ ]:
users = [
    {'first_name': 'John', 'last_name': 'Doe', 'age': 30, 'country': 'USA'},
    {'first_name': 'Jane', 'last_name': 'Doe', 'age': 28, 'country': 'Canada'},
    {'first_name': 'Alice', 'last_name': 'Johnson', 'age': 25, 'country': 'UK'},
    {'first_name': 'Bob', 'last_name': 'Smith', 'age': 32, 'country': 'Australia'}
]

### Output:

```python
John Doe is 30 years old and comes from USA.
Jane Doe is 28 years old and comes from Canada.
Alice Johnson is 25 years old and comes from UK.
Bob Smith is 32 years old and comes from Australia.
```

## Problem 2:

You are given a list of products, where each product is represented as a tuple containing the product's name, price, and quantity. Your task is to write a Python script that iterates through the list and prints out the product information in a formatted string as follows:

```html
<Product Name> - Price: $<Price> - Quantity: <Quantity>
```
Here's the list of products:

```python
products = [
    ('Laptop', 999.99, 5),
    ('Smartphone', 799.99, 10),
    ('Tablet', 399.99, 7),
    ('Headphones', 149.99, 25)
]
```
## Output:

```python
Laptop - Price: $999.99 - Quantity: 5
Smartphone - Price: $799.99 - Quantity: 10
Tablet - Price: $399.99 - Quantity: 7
Headphones - Price: $149.99 - Quantity: 25
```

## Problem 3:

You are given a list of students, where each student is represented as a dictionary containing the student's name and a list of their test scores. Your task is to write a Python script that calculates the average score for each student and prints out the student's name along with their average score, formatted as follows:

```python
<Student Name>: Average Score: <Average Score>
```
Here's the list of students:

```python
students = [
    {'name': 'John', 'scores': [85, 90, 78, 92, 88]},
    {'name': 'Jane', 'scores': [80, 85, 91, 89, 93]},
    {'name': 'Alice', 'scores': [92, 96, 80, 81, 85]},
    {'name': 'Bob', 'scores': [82, 84, 90, 78, 79]}
]
```
## Output:

```python
John: Average Score: 86.60
Jane: Average Score: 87.60
Alice: Average Score: 86.80
Bob: Average Score: 82.60
```