<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/2_variables_and_operations/study_guide_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. [Python Data Types](https://github.com/byambaa1982/python_cources_for_beginers/blob/main/2_variables_and_operations/study_guide_2.ipynb)

## Integer Examples

In [6]:
234*345

80730

In [7]:
3245/345

9.405797101449275

In [4]:
# Adding two integers
number1 = 234
number2 = 346
sum = number1 + number2
print(sum)

580

In [5]:
# Substracting two integers
number1 = 534
number2 = 346
difference = number1 - number2
print(difference)

188

In [11]:
# Multipling two integers
x = 3
y = 5
c = 6
multiply = y*x*c
print(multiply)

90

In [12]:

division =c/3
print(division)

2.0

In [13]:
# Adding two integers
number1 = 7
number2 = 3
sum = number1 + number2
print("The sum of", number1, "and", number2, "is", sum)  # Output: The sum of 7 and 3 is 10

The sum of 7 and 3 is 10

In [14]:
# Calculating the number of apples in two baskets
apples_in_basket1 = 12
apples_in_basket2 = 8
total_apples = apples_in_basket1 + apples_in_basket2
print("Total apples in both baskets:", total_apples)  # Output: Total apples in both baskets: 20

Total apples in both baskets: 20

## Float Examples

In [15]:
5

5

In [16]:
5.0

5.0

In [17]:
type(5)

int

In [18]:
type(5.0)

float

In [8]:
# Calculating the area of a rectangle
length = 5.5  # in meters
width = 3.2   # in meters
area = length * width
print("Area of the rectangle is", area, "square meters")  # Output: Area of the rectangle is 17.6 square meters

Area of the rectangle is 17.6 square meters

In [9]:
# Finding the average score
score1 = 95.5
score2 = 82.3
score3 = 88.9
average_score = (score1 + score2 + score3) / 3
print("The average score is", round(average_score, 2))  # Output: The average score is 88.9

The average score is 88.9

## String Examples

In [62]:
name1 = 'Byamba'

In [31]:
name2 = "Enko"

In [42]:
print(name1 +" and " +name2 + " are Mongolians")

Byamba and Enko are Mongolians

In [38]:
"5" + " " +"Misheel"

'5 Misheel'

In [39]:
# Concatenating two strings
first_name = "Alice"
last_name = "Smith"
full_name = first_name + " " + last_name
print("Full name:", full_name)  # Output: Full name: Alice Smith

Full name: Alice Smith

In [40]:
# Repeating strings
laugh = "ha"
print(laugh * 5)  # Output: hahahahaha

hahahahaha

In [46]:
my_name = "Bob"
age = 34
job = "Driver"

In [47]:
f"My name is {my_name}. I am {age} year old and I am a {job}"

'My name is Bob. I am 34 year old and I am a Driver'

## Boolean Examples

In [48]:
True

True

In [49]:
False

False

In [61]:
age1 = 13
age2 = 14
age1 < age2

True

In [51]:
5 == 5

True

In [52]:
5 == 4

False

In [53]:
5 > 4

True

In [54]:
5 > 10

False

In [70]:
# Comparing two numbers
age_hanna = 15
age_mom = 42
is_older = age_hanna > age_mom
print("Is Mom older than Hanna?", is_older)  # Output: Is Tom older than Mary? True

Is Mom older than Hanna? False

In [64]:
# Using logical operators
has_homework = True
finished_homework = False
can_play_games = has_homework and finished_homework
print("Can play games:", can_play_games)  # Output: Can play games: False

Can play games: False

# Homework Assignment

## Part 1: Integers

Write a Python program to calculate the product of two integers, 8 and 12, and print the result.

## Part 2: Strings

Write a Python program that concatenates the following strings: "Good" and "Morning", and prints the result.

## Part 3: Floats

Write a Python program to subtract 4.5 from 10.7 and print the result.
Divide 15.8 by 4.2 and print the result.

## Part 4: Booleans

Write a Python program that checks if 7 is greater than 3 and prints the result.
Create a boolean variable that checks if 10 is equal to 20 and print the result.

## Part 5: Simple Receipt

Write a Python program to define the prices of the following items: banana = 3.2 and orange = 4.5.

In [ ]:
# copy any of code here and run.

## 2. Floats

A floating-point number, or simply a "float", in Python (or in programming generally), is a numerical value with a decimal point. Floats are used when more precision is needed. For instance, when you are working with data that requires decimal values, such as measurements or calculations in mathematics or physics.

Here is an example of a floating-point number in Python:

In [65]:
x = 10.5
print(x)

10.5

This will output `10.5`.

If you want to know the type of a variable, you can use the `type()` function. In our example, you could do the following:

In [66]:
print(type(x))

<class 'float'>

This will output: `<class 'float'>`, indicating that x is indeed a floating-point number.

The primary difference between an integer and a float is that integers are whole numbers without a decimal point, while floats can represent both whole numbers and real numbers that include a decimal point. So if you're dealing with numbers that include fractions or decimals, you'd use a float, but if you're counting whole things that can't be broken up, you'd use an integer.

For example, if you're counting the number of people in a room, you would use an integer, because you can't have a fraction of a person. But if you're measuring the length of something and it's not a whole number, you'd use a float.

In Python, you can perform similar operations with floats as with integers, like addition, subtraction, multiplication, and division. Python will also automatically convert integers to floats in expressions if the result is a fractional value.

Here's an example:

In [67]:
x = 10  # This is an integer
y = 3   # This is another integer

z = x / y  # Division of two integers

print(z)  # Outputs: 3.3333333333333335

3.3333333333333335

Although `x` and `y` are both integers, the division results in a `float`, because the result is a fractional value.

## Practices and [Solution Code](solution_code_2.ipynb)

1 . `Area of Circle`: Write a Python program that asks the user for the radius of a circle (a floating-point number) and calculates and prints the area of the circle. The formula to calculate the area of a circle is Ï€r^2, where r is the radius of the circle.

Example Output:

```yaml

Enter the radius of the circle: 5.5
The area of the circle is 95.03317891.
```

2 . `Distance Between Points`: Write a Python program that asks the user for the coordinates of two points in the format (x1, y1) and (x2, y2), and calculates the distance between them. The formula to calculate the distance between two points is sqrt((x2 - x1)^2 + (y2 - y1)^2).

Example Output:

```yaml

Enter x1: 2.5
Enter y1: 4.3
Enter x2: 5.1
Enter y2: 7.8
The distance between the points is 4.6010860639.
```

3 . `Body Mass Index (BMI) Calculator`: Write a Python program that calculates the BMI from the user's weight (in kilograms) and height (in meters). The formula to calculate BMI is weight / height^2.

Example Output:
```yaml

Enter your weight in kg: 70.5
Enter your height in m: 1.75
Your BMI is 23.02.
```

## 3. String

A string in Python is a sequence of characters. Strings in Python are amongst the commonly used data types. They can be defined by enclosing a sequence of characters within single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).

Here's an example of a string in Python:

In [ ]:
x = "Hello, World!"
print(x)

Hello, World!

This will output `Hello, World!`.

If you want to know the type of a variable, you can use the type() function. In our example, you could do the following:

In [ ]:
print(type(x))

<class 'str'>

This will output `<class 'str'>`, indicating that x is indeed a string.

The main difference between a string and other data types such as integer or float is that strings are used to represent text or characters, whereas integers and floats represent numerical values. You can't perform mathematical operations on strings like you can with integers or floats, but there are many other operations you can perform with strings.

You can concatenate strings using the plus `(+)` operator, repeat strings using the asterisk `(*)` operator, and access individual characters in a string using indexing and slicing.

Here are some examples:

In [ ]:
# String Concatenation
str1 = "Hello"
str2 = "World"
str3 = str1 + " " + str2
print(str3)  # Outputs: Hello World

# String Repetition
str4 = "Python "
str5 = str4 * 3
print(str5)  # Outputs: Python Python Python

# String Indexing
str6 = "OpenAI"
print(str6[4])  # Outputs: n

# String Slicing
str7 = "ChatGPT"
print(str7[1:4])  # Outputs: hat

In Python, strings are also "immutable", which means they cannot be changed after they are created. If you try to reassign a value to a specific position in a string, Python will throw an error. However, you can create a new string based on an old one with some alterations, and that's how we usually modify strings in Python.

## Practices and [Solution Code](solution_code_2.ipynb)

1 . `String Length Calculation`: Write a Python program that asks the user to enter a string, and then it calculates and prints the length of the string.

Example Output:

```yaml

Enter a string: Hello, World!
The length of the string is 13.
```


2 . `Word Count`: Write a Python program that asks the user to enter a sentence, and then it counts and prints the number of words in that sentence.

Example Output:

```yaml

Enter a sentence: Python is a popular programming language.
The number of words in the sentence is 6.
```

3 . `Palindrome Checker`: Write a Python program that asks the user to enter a word, and then it checks and prints whether the word is a palindrome or not. A palindrome is a word that reads the same forwards and backwards.

Example Output:

```yaml
Enter a word: radar
The word is a palindrome.

```

In the first two tasks, the `input()` function is used to get the user's input as a string, and the `len()` function is used to calculate the length of the string or the number of words in the sentence.

In the third task, Python's slicing functionality is used to reverse the string. If the original string is the same as the reversed string, then it's a palindrome.

## 4. Lists

In Python, a list is an ordered collection of items that are changeable (mutable), and it allows duplicate members. Lists are defined by enclosing a comma-separated sequence of objects in square brackets `[]`.

Here's an example of a list in Python:

In [ ]:
x = [1, 2, 3, 4, 5]
print(x)

This will output: `[1, 2, 3, 4, 5]`.

If you want to know the type of a variable, you can use the type() function:

In [ ]:
print(type(x))

This will output: `<class 'list'>`, indicating that `x` is indeed a list.

The main difference between a list and other data types like `strings`, `integers`, or `floats` is that a list can contain multiple items, which can be of different types. A list can contain a combination of strings, integers, floats, or even other lists.

You can access individual items in a list using indexing, and you can change the value of items in a list, which you can't do with strings. You can also add new items to a list, remove items from a list, and do other operations such as sorting and reversing a list.

## Practices and [Solution Code](solution_code_2.ipynb)

1 . `Sum of Numbers in a List`: Write a Python program that calculates and prints the sum of all numbers in a given list.

`Example Output`:
```yaml

The list is: [1, 2, 3, 4, 5]
The sum of numbers in the list is 15.
```

2 . `List Sorting`: Write a Python program that sorts a given list in ascending order.

`Example Output`:
```yaml
The original list is: [2, 5, 1, 8, 7]
The sorted list is: [1, 2, 5, 7, 8]
```

3 . `List Reverse`:
Write a Python program that reverses the order of items in a given list.

`Example Output`:

```yaml

The original list is: ['Python', 'Java', 'C++', 'JavaScript']
The reversed list is: ['JavaScript', 'C++', 'Java', 'Python']
```

In each of these tasks, the `sum()`, `sort()`, and `reverse()` functions are used to perform operations on the lists.

While we've covered integers, floats, strings, and lists, it's important to note that Python also offers other powerful data structures such as sets, dictionaries, and tuples. These data structures provide additional methods to store and organize data in different ways, depending on your specific needs.

- Sets are unordered collections of unique elements. They are ideal when you want to eliminate duplicates or check membership efficiently.

- Dictionaries (or dicts) are key-value pairs, a bit like hash tables in other languages. They are perfect for scenarios where you want to associate items with a unique key.

- Tuples are similar to lists in that they can hold multiple items, but unlike lists, they are immutable, meaning they can't be changed after they are created.

Each of these data structures has its own strengths and specific use cases, and learning to use them effectively is a key part of mastering Python. We'll explore these data structures in more detail later in this course, so stay tuned!