<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/grace/Copy_of_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import regex as re
import os

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Titanic Data Analysis
1. How many people died?

In [5]:
died_df = df[df['Survived']==0]
died_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
died_df.shape[0]


# Task 2:
- How many people survived?

In [15]:
survive = df[df['Survived']==1]
print(survive.shape)

(342, 12)

# Task 3:
- How many women died?
- How many men died?
- How many kids died?
- How many boys died?

In [6]:
women_count = df[df['Sex']=='female'].shape[0]
print(women_count)

314

In [7]:
man_count = df[df['Sex']=='man'].shape[0]
print(man_count)

0

In [9]:
children = df[df['Age'] <= 18]
print(children.shape)

(139, 12)

In [ ]:
df2 = children[children['Survived']==0]
print(df2.shape)

In [10]:
dead_kids = children[children['Survived']==0]
print(dead_kids.shape)

(69, 12)

In [13]:
df3 = children[children['Sex']=='man']
print(df3.shape)

(0, 12)

# Homework 1:



1. How many passengers were on board the Titanic?

2. How many male and female passengers were on board?


3. What is the average age of the passengers?


4. How many passengers survived, and how many did not?

5. Which passenger class had the most survivors?


6. What was the most common age of the passengers?


7. How many passengers had siblings or spouses aboard?


8. Find the youngest and oldest passengers on board.


9. What was the average fare paid by passengers?


10. How many passengers had missing data in the 'Age' column?