<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/grace/Copy_of_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import regex as re
import os

In [7]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Titanic Data Analysis
1. How many people died?

In [3]:
died_df = df[df['Survived']==0]
died_df

NameError: name 'df' is not defined

In [ ]:
died_df.shape[0]


# Task 2:
- How many people survived?

In [ ]:
survive = df[df['Survived']==1]
print(survive.shape)

(342, 12)

# Task 3:
- How many women died?
- How many men died?
- How many kids died?
- How many boys died?

In [ ]:
women_count = df[df['Sex']=='female'].shape[0]
print(women_count)

314

In [ ]:
man_count = df[df['Sex']=='man'].shape[0]
print(man_count)

0

In [ ]:
children = df[df['Age'] <= 18].shape[0]
print(children)

139

In [ ]:
df2 = children[children['Survived']==0].shape[0]
print(df2)

In [ ]:
dead_kids = children[children['Survived']==0].shape[0]
print(dead_kids)

69

In [ ]:
df3 = children[children['Sex']=='man'].shape[0]
print(df3).s

0

# Homework 1:



1. How many passengers were on board the Titanic?

2. How many male and female passengers were on board?


3. What is the average age of the passengers?


4. How many passengers survived, and how many did not?

5. Which passenger class had the most survivors?


6. What was the most common age of the passengers?


7. How many passengers had siblings or spouses aboard?


8. Find the youngest and oldest passengers on board.


9. What was the average fare paid by passengers?


10. How many passengers had missing data in the 'Age' column?

In [ ]:
passenger = df[df['Age']<1000].shape[0] #1
print(passenger)

714

In [ ]:
women = df[df['Sex']=='female'].shape[0] #2
print(women)
men = df[df['Sex']=='male'].shape[0]
print(men)

314
577

In [ ]:
avg_age = df['Age'].mean() #3
print(avg_age)

29.69911764705882

In [ ]:
print(survive.shape[0]) #4
print(died_df.shape[0])

342
549

In [8]:
df[df['Survived']==1].groupby('Pclass')['Survived'].count()#5

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [9]:
df[df['Survived']==1].groupby('Sex')['Survived'].count()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [11]:
df[df["Survived"]==0].groupby('Sex')['Survived'].count()

Sex
female     81
male      468
Name: Survived, dtype: int64

In [ ]:
mode_age = df['Age'].mode() #6
print(mode_age)

0    24.0
Name: Age, dtype: float64

In [15]:
wsib = df[df['SibSp']==1].shape[0] #7
print(wsib)

209

In [16]:
min_age = df['Age'].min()#8
print(min_age)
max_age = df['Age'].max()
print(max_age)

0.42
80.0

In [19]:
avgfare = df['Fare'].mode()
print(avgfare)

0    8.05
Name: Fare, dtype: float64