<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_urangoo/5_lists_tuples_dictionaries_sets/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is a Dictionary in Python?


A dictionary in Python is like a box where you can store pairs of items. Each pair has a key and a value. Think of the key as a word and the value as the definition or information about that word.

In [ ]:
a_sting = "name"

In [ ]:
34

34

In [ ]:
4.5

4.5

In [ ]:
a_list = [3, 3, 5, "string"]

In [ ]:
person = {'age': 42, 'name': 'Byamba', 'height': 181.3, 'hobby': ['reading ', 'walking ', 'playing chess']}

In [ ]:
print(f"My name is {person['name']}. I am {person['age']} old. My height is {person['height']} cm. Also, my hobbies are {person['hobby'][0]}, {person['hobby'][1]}, and {person['hobby'][2]}")

My name is Byamba. I am 42 old. My height is 181.3 cm. Also, my hobbies are reading , walking , and playing chess

# Let's extend the dictionary

In [ ]:
person = {
    'age': 42,
    'name': 'Byamba',
    'height': 181.3,
    'hobby': ['reading ', 'walking ', 'playing chess'],
    'car_details': {
              'brand': 'Toyota',
              'model': 'Camry',
              'year': 2023,
              'color': 'Silver',
              'features': ['GPS Navigation', 'Leather Seats', 'Sunroof']
              }
    }

In [ ]:
print(person['car_details']['brand'])

Toyota

# List, Dictionary, f String, loop, and Funtion

## Subtitle

In [ ]:
def my_name(person):
  print(f"My is {person['name']}")

In [ ]:
def my_age(person):
  print(f"My age is {person['age']}")

In [ ]:
def my_hobby (person):
  for hobby in person['hobby']:
    print(f"My favorite things to do is {hobby}")

In [6]:
people = [
    {
        'age': 15,
        'name': 'Burentugs',
        'height': 164,
        'hobbies': ['playing', 'running', 'doing activities with friends', 'reading']
    },
    {
        'age': 12,
        'name': 'Urangoo',
        'height': 164,
        'hobbies': ['reading', 'playing games', 'drawing']
    },
    {
        'age': 21,
        'name': 'Kai',
        'height': 175,
        'hobbies': ['coding', 'playing guitar', 'gaming']
    },
    {
        'age': 17,
        'name': 'Lina',
        'height': 160,
        'hobbies': ['swimming', 'dancing', 'photography']
    },
    {
        'age': 16,
        'name': 'Zane',
        'height': 180,
        'hobbies': ['basketball', 'watching movies', 'travelling']
    },
    {
        'age': 20,
        'name': 'Mia',
        'height': 165,
        'hobbies': ['cooking', 'yoga', 'reading']
    },
    {
        'age': 22,
        'name': 'Ethan',
        'height': 172,
        'hobbies': ['football', 'cycling', 'reading']
    },
    {
        'age': 19,
        'name': 'Sofia',
        'height': 168,
        'hobbies': ['gardening', 'drawing', 'shopping']
    },
    {
        'age': 15,
        'name': 'Jin',
        'height': 162,
        'hobbies': ['gaming', 'skateboarding', 'listening to music']
    },
    {
        'age': 18,
        'name': 'Ava',
        'height': 158,
        'hobbies': ['baking', 'knitting', 'watching TV shows']
    }
]

In [ ]:
for person in people:
  print(f"{person['name']} is {person['age']} year old.")

Burentugs is 15 year old.
Urangoo is 12 year old.
Kai is 21 year old.
Lina is 17 year old.
Zane is 16 year old.
Mia is 20 year old.
Ethan is 22 year old.
Sofia is 19 year old.
Jin is 15 year old.
Ava is 18 year old.

In [ ]:
for person in people:
  if person['age'] < 18:
    print(f"{person['name']} is {person['age']} year old.")

Burentugs is 15 year old.
Urangoo is 12 year old.
Lina is 17 year old.
Zane is 16 year old.
Jin is 15 year old.

In [ ]:
for person in people:
  if "reading" in person['hobbies']:
    print(f"{person['name']} is {person['age']} year old. He/She likes {person['hobbies'][0]}")

Burentugs is 15 year old. He/She likes playing
Urangoo is 12 year old. He/She likes reading
Mia is 20 year old. He/She likes cooking
Ethan is 22 year old. He/She likes football

#function for the people list of dictionary: 2024-07-15

In [ ]:
def name(people):
 for person in people:
  print(f"{person['name']} is {person['age']} year old.")

In [ ]:
name(people)

Burentugs is 15 year old.
Urangoo is 12 year old.
Kai is 21 year old.
Lina is 17 year old.
Zane is 16 year old.
Mia is 20 year old.
Ethan is 22 year old.
Sofia is 19 year old.
Jin is 15 year old.
Ava is 18 year old.

In [ ]:
def show_people_by_name(people, name):
 for person in people:
  if person['name'] < age:
    print(f"{person['name']} is {person['age']} year old.")

In [ ]:
show_young_people(people, 20)

Burentugs is 15 year old.
Urangoo is 12 year old.
Lina is 17 year old.
Zane is 16 year old.
Sofia is 19 year old.
Jin is 15 year old.
Ava is 18 year old.

In [ ]:
show_young_people(people, 15)

Urangoo is 12 year old.

In [ ]:
def show_people_by_name(people, name):
 for person in people:
  if person['name'] == name:
    print(f"{person['name']} is {person['age']} year old.")

In [ ]:
show_people_by_name(people, 'Urangoo')

Urangoo is 12 year old.

In [7]:
# Task 1
# Create a function that show all tall people. Parameters are 'people' and 'height'

In [8]:
def show_tall_people(people, height):
    tall_people = [person for person in people if person['height'] >= height]
    return tall_people

In [9]:
 else:
    print("No tall people found.")

SyntaxError: invalid syntax (<ipython-input-9-a8b7e1cfe54b>, line 1)

In [ ]:
# Task 2
# Create a function that create tall_people list. Parameters are 'people' and 'height'

In [10]:
def create_tall_people_list(people, height):
    tall_people = []
    for person in people:
        if person['height'] >= height:
            tall_people.append(person)
    return tall_people

In [12]:
print("create_tall_people_list")
for person in tall_people:
    print(f"{person['name']} ({person['height']} cm)")

create_tall_people_list

NameError: name 'tall_people' is not defined

In [ ]:
# Task 3
# Crate a function that find_person_by_hobby. Parameters are 'people' and 'hobby'

In [ ]:
def find_person_by_hobby(people, hobby):
    for person in people:
        if 'hobbies' in person and hobby in person['hobbies']:
            return person
    return None

In [13]:
else:
    print(f"No people found who like {hobby}.")

SyntaxError: invalid syntax (<ipython-input-13-a1e1f59b01a3>, line 1)