<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/5_lists_tuples_dictionaries_sets/Lists_Tuples_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists

In [1]:
# 1. Create a list of numbers
numbers = [5, 3, 7, 2, 8, 3, 10, 5, 1, 8]

In [2]:
# 2. Calculate the sum of all the numbers in the list
total = sum(numbers)
print("Sum of all numbers:", total)

Sum of all numbers: 52

In [3]:
# 3. Find the maximum and minimum values in the list
maximum = max(numbers)
minimum = min(numbers)
print("Max value:", maximum)
print("Min value:", minimum)

Max value: 10
Min value: 1

In [4]:
# 4. Reverse the order of the list
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [8, 1, 5, 10, 3, 8, 2, 7, 3, 5]

In [5]:
# 5. Remove duplicates from the list
unique_numbers = list(set(numbers))
print("List without duplicates:", unique_numbers)

List without duplicates: [1, 2, 3, 5, 7, 8, 10]