<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/practice_exercise/practice_list_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Add a New Item to the List
Start with a list of 3 colors. Then, add a new color to the list and print the updated list.

In [1]:
colors = ["Red", "Blue", "Green"]
colors.append("Yellow")

print(colors)

['Red', 'Blue', 'Green', 'Yellow']

 # Task 2: Find the Largest Number in a List
Create a list of 5 numbers and use the max() function to find and print the largest number.

In [2]:
numbers = [3, 8, 2, 7, 4]

largest = max(numbers)
print("The largest number is:", largest)

The largest number is: 8

# Task 3: Reverse a List
Create a list of 5 numbers and print the list in reverse order.

In [3]:
numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]

print(reversed_numbers)

[5, 4, 3, 2, 1]

# Task 4: Remove an Item from the List
Start with a list of 4 animals. Remove one animal from the list and print the updated list.

In [4]:
animals = ["Lion", "Elephant", "Giraffe", "Zebra"]
animals.remove("Elephant")

print(animals)

['Lion', 'Giraffe', 'Zebra']

# Task 5: Count Items in a List
Create a list with some repeated items (e.g., colors). Use the count() method to find out how many times a specific item appears in the list.

In [5]:
colors = ["Red", "Blue", "Red", "Green", "Red"]
red_count = colors.count("Red")

print("Red appears", red_count, "times in the list.")

Red appears 3 times in the list.

# Task 6: Sum of All Numbers
Create a list of 5 numbers and use the sum() function to calculate and print the total sum of the numbers.

In [6]:
numbers = [10, 20, 30, 40, 50]
total_sum = sum(numbers)

print("The sum of the numbers is:", total_sum)

The sum of the numbers is: 150

# Task 7: Find the Smallest Number
Create a list of 6 numbers and use the min() function to find and print the smallest number in the list.

In [7]:
numbers = [23, 5, 76, 12, 9, 34]
smallest_number = min(numbers)

print("The smallest number is:", smallest_number)

The smallest number is: 5

# Task 7: Combine Two Lists
Create two lists of three items each (e.g., fruits and vegetables). Combine them into one list and print the new combined list.

In [8]:
fruits = ["Apple", "Banana", "Orange"]
vegetables = ["Carrot", "Spinach", "Broccoli"]

combined_list = fruits + vegetables
print(combined_list)

['Apple', 'Banana', 'Orange', 'Carrot', 'Spinach', 'Broccoli']