<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_enko/4_functions/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
burnee_text = """
'\nDonald Trump\'s 11 July sentencing in his hush money case may be delayed after his lawyers asked Elephant judge to set aside
Elephant wake of Supreme Court\'s immunity ruling.\nIn a letter

"""
clean_text = burnee_text.replace("\n", "")
print(clean_text)

'Donald Trump's 11 July sentencing in his hush money case may be delayed after his lawyers asked Elephant judge to set asideElephant wake of Supreme Court's immunity ruling.In a letter

In [2]:
second_text = """“I couldn’t clip in” to the bike, she said. “And I was like,
'Why is this not working?' I was starting to get really embarrassed.
Finally, we realized I just had incompatible cleats and pedals.”"""
clean_text = second_text.replace(",", "")
print(clean_text)

“I couldn’t clip in” to the bike she said. “And I was like
'Why is this not working?' I was starting to get really embarrassed.
Finally we realized I just had incompatible cleats and pedals.”

In [3]:
def text_cleaning(text):
  clean_text = text.replace(",", "")
  return clean_text

In [4]:

text_cleaning(second_text)

"“I couldn’t clip in” to the bike she said. “And I was like\n'Why is this not working?' I was starting to get really embarrassed.\nFinally we realized I just had incompatible cleats and pedals.”"

In [5]:
my_text = "kahjg , kldkg, lgkdas, gdkaj , gedkj, "
text_cleaning(my_text)

'kahjg  kldkg lgkdas gdkaj  gedkj '

In [45]:
x = 4
y = 5
z = x+y
print(z)

9

In [47]:
def subtract_numbers(a, b):
  return a-b

In [48]:
subtract_numbers(44897, 6)

44891

In [49]:
for i in range(1, 20):
  if i%2 ==0:
    print(f"{i} is even number")
  else:
    print(f"{i} is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number

In [51]:
my_text = "my name is Enko and I am 13 years old"

In [52]:
# make a function that turn text into a list
my_list = my_text.split(" ")
my_list
def text_to_list(my_text):
  my_list = my_text.split(" ")
  return my_list

In [54]:
text_to_list(my_text)

['my', 'name', 'is', 'Enko', 'and', 'I', 'am', '13', 'years', 'old']

In [55]:
print_even_and_odds(0, 4)

0 is even number
1 is odd number
2 is even number
3 is odd number

In [59]:
# Make a function that count words in text
my_text = "my name is Enko and I am 12 years old"

def count_words(my_text):
  my_list = my_text.split(" ")
  return len(my_list)

In [57]:
count_words(my_text)

10

In [61]:
# Make a function that count words in text
my_text = "my name is Enko and I am 12 years old"

def count_words(my_text):
  my_list = my_text.split(" ")
  return (f"There are {len(my_list)} words in this text")

In [62]:
count_words(my_text)

'There are 10 words in this text'

In [63]:

# Make a function that replace any "the" with "THE" in a give text
def word_replacer(any_text):
  print(any_text.replace("Enko", "Bob"))

In [65]:
word_replacer("my name is Enko and I am 12 years old")

my name is Bob and I am 12 years old

In [66]:
# Make a function that replace any "the" with "THE" in a give text
def word_replacer(any_text):
  print(any_text.replace("12", "25"))

In [68]:
word_replacer("my name is Enko and I am 12 years old")

my name is Enko and I am 25 years old

In [69]:
# Make a function that replace any "the" with "THE" in a give text
def word_replacer(any_text, a, b):
  print(any_text.replace(a, b))

In [71]:
word_replacer("my name is Enko and I am 12 years old",My name is Enko and I am )

TypeError: word_replacer() missing 2 required positional arguments: 'a' and 'b'

In [72]:
My_text = "today is a nice day. I am very happy"

In [73]:
def word_counter(any_text):
  my_list = any_text.split(" ")
  total_words = len(my_list)
  long_words = []
  for word in my_list:
    if len(word) >2:
      long_words.append(word)
  return f'There are {total_words} words in this text and {len(long_words)} have more than 2 letters'

In [ ]:
word_counter("It a a test")