<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/Mini%20Project%201/Hanna_Practice_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge Tables

In [1]:
my_dict = {
    "name": "John Doe",           # String
    "age": 28,                    # Number
    "hobbies": ["reading", "swimming", "coding"],  # List of strings
    "scores": [85, 90, 78],       # List of numbers
    "address": {
        "city": "New York",       # Nested dictionary with strings
        "zip_code": 10001         # Number
    },
    "graduated": True,            # Boolean value
    "languages": ["English", "Spanish"]  # List of strings
}

print(my_dict)

{'name': 'John Doe', 'age': 28, 'hobbies': ['reading', 'swimming', 'coding'], 'scores': [85, 90, 78], 'address': {'city': 'New York', 'zip_code': 10001}, 'graduated': True, 'languages': ['English', 'Spanish']}

In [6]:
for hobby in my_dict['hobbies']:
  print(hobby)

reading
swimming
coding

In [7]:
for score in my_dict['scores']:
  print(score)

85
90
78

# Task 1: Create a Python dictionary that represents your own profile.

```python

profile = {
    "name": "Your Name",
    "age": Your Age,
    "favorite_foods": ["Food1", "Food2", "Food3"],  # List of your favorite foods
    "hobbies": ["Hobby1", "Hobby2"],                # List of your hobbies
    "is_student": True,                             # Boolean, are you a student?
}

# Print the profile
print(profile)
```

In [3]:
# Create a dictionary with your own information

In [4]:
# Create a for loop and print your favorite foods

In [5]:
# Create a for loop and print your hobbies

In [ ]:
# Complete the following code

for age in *****:
  print(age)

10
12
10

In [ ]:
# Complete the following code

for **** in data1['Name']:
  print(name)

Emma
Oliver
Ava

# Homework

In [ ]:
for name in data1['Name']:
 #Your code is here.

Hi, Emma
Hi, Oliver
Hi, Ava

In [ ]:
for age in data2['Age']:
#Your code is here

10 year old.
12 year old.
10 year old.

In [ ]:
# Complete the following code using data2
for i in ******:
  print(i)

1
2
4

In [ ]:
# Complete the following code using data2

  print(i)

10
12
10