<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/Mini%20Project%201/Hanna_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge Tables

In [2]:
data1 = {
    'Name': ['Emma', 'Oliver', 'Ava'],
    'Grade': [45, 90, 21],
    'id': [1, 2,3]
}

data2 = {
    'Name': ['Emma', 'Oliver', 'Lucas'],
    'Age': [10, 12, 10],
    'id': [1, 2,4]
}

In [3]:
print(data1['Name'])

['Emma', 'Oliver', 'Ava']

# Print Grade from data1 dictionary

In [4]:
data2['id']

[1, 2, 4]

In [5]:
data2['Age']

[10, 12, 10]

In [6]:
# Complete the following code

for age in *****:
  print(age)

10
12
10

In [7]:
# Complete the following code

for **** in data1['Name']:
  print(name)

Emma
Oliver
Ava