<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/Mini%20Project%201/Pandas_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working On CSV file

In [1]:
import pandas as pd

# Turn CSV file into Dataframe

In [2]:
df = pd.read_csv("twitter_data.csv")
print(df.shape)

(4579, 15)

In [3]:
df.tail()

,tweet_id,text,media_url,created_at,author_id,keyword,modified,liked,followed,replied,score,reposted,quote,username,rn
4574,1748379593952600255,Sweep you some og @puffpandas get in on the ac...,https://pbs.twimg.com/media/GEN9-PxX0AABUpi.jpg,2024-01-19T16:19:13.000Z,1642248522400399365,Pandas,2024-01-19-10-29,no,no,no,0,NaN,NaN,NaN,1
4575,1748377918223315052,@Pandas_unite @QuasarCitizen @QueenAnticommie ...,NaN,2024-01-19T16:12:33.000Z,1651304139391893559,Pandas,2024-01-19-10-29,no,no,no,0,NaN,NaN,NaN,1
4576,1748377545194590666,@LieTweetSteal Don‚Äôt pandas pander all day ü§îüòé,NaN,2024-01-19T16:11:04.000Z,1680229305379438598,Pandas,2024-01-19-10-29,no,no,no,0,NaN,NaN,NaN,1
4577,1748380762896765278,//admin ‚ú®\n\nthose fuckass pandas omg üò≠üò≠üò≠üò≠ woj...,NaN,2024-01-19T16:23:51.000Z,1735439543401062400,Pandas,2024-01-19-10-29,no,no,no,0,NaN,NaN,NaN,1
4578,1748377787503727099,‚≠ê ICE distribution started!\nDetails here üëâ @M...,NaN,2024-01-19T16:12:02.000Z,1746614966772183040,Pandas,2024-01-19-10-29,no,no,no,0,NaN,NaN,NaN,1

In [4]:
df.shape

(4579, 15)

# Task 1

- Create new dataframe. Columns: username, keyword, liked, modified

In [5]:
df2 = df[['username', 'keyword', 'liked', 'modified']]

In [6]:
df2.shape

(4579, 4)

# Homework

1. Show how many different keywords?
2. Show the most frequent keyword.
3. Create df3 columns: author_id, text, and df4 author_id, username and then join them on author_id name joined_df

In [8]:
df['keyword'].unique()

array(['databricks', 'pyspark', 'axie', 'axie infinity', 'big data',
       'SQL', 'dataEngineering', 'Scikit-learn', 'Kubernetes', 'NumPy',
       'Matplotlib', 'javascript', 'NoSQL', 'Hadoop', 'python',
       'Google Cloud', 'azure', 'Seaborn', 'Apache Kafka', 'TensorFlow',
       'Spark', 'Docker', 'Jupyter Notebook', 'Elasticsearch', 'PyTorch',
       'Microsoft Azure', 'Tableau', 'IBM Watson', 'Power BI', 'Pandas',
       'AWS'], dtype=object)

In [9]:
df['keyword'].value_counts()

keyword
big data            760
databricks          666
SQL                 632
pyspark             382
Pandas              215
Spark               146
Power BI            132
Seaborn             123
AWS                 122
NumPy               114
IBM Watson          114
Docker              108
PyTorch             103
Google Cloud        103
Jupyter Notebook     92
Microsoft Azure      91
Tableau              86
Elasticsearch        84
Matplotlib           79
Scikit-learn         77
NoSQL                69
Apache Kafka         61
Hadoop               61
TensorFlow           49
axie                 33
Kubernetes           30
axie infinity        18
javascript           13
azure                10
python                4
dataEngineering       2
Name: count, dtype: int64

In [10]:
df2 = df[['author_id', 'username']]
df2.head()

             author_id       username
0             14156160       legoboku
1            182918785         TBRinc
2            387795194  matthewgiglia
3   986230825107812352  SalesTechStar
4  1251929728904290304  TechCryptoGuy