<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/Mini%20Project%201/Pandas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Missing Data

In [2]:
import pandas as pd

In [5]:

data1 = {
    'Name': ['Emma', 'Oliver', 'Ava', 'James', 'Oscar', 'Wolf', 'Amy', 'Emily', 'Jake', 'Alex'],
    'Math_Grade': [78, 98, 100, 85, 82, 94, 68, 45, 89, 85],
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'hobby': ["hiking", "reading", "biking", "skiing", "chess", "PC game", "painting", "swimming", "dancing", "coding"]
}

data2 = ({
    'Name': ['Emma', 'Oliver', 'Ava', 'James', 'Oscar', 'Wolf', 'Amy', 'Emily', 'Jake', 'Alex'],
    'Science_Grade': [87, 95, 81, 76, 50, 100, 94, 89, 64, 78],
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
})

data3 = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'email': ['emma@gmail.com', 'oliver@yahoo.com', 'ava@msn.com', 'james@gmail.com', 'oscar@yahoo.com', 'wolf@msn.com', 'amy@gmail.com', 'emily@yahoo.com', 'jake@msn.com', 'alex@gmail.com']
}

In [7]:
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

 # Task 1: Show a dataframe with columns name and email