<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/2_variables_and_operations/study_guide_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

## Integer

1. Integer (`int`): Represents whole numbers without any decimal points. For example: 5, -3, 0.

In [ ]:
# Declare an integer variable
age = 25

# Perform arithmetic operations
result = age + 5
print(result)  # Output: 30

In [ ]:
age = 40
result = age + 100

In [ ]:
print(result)

In [ ]:
# Declare a float variable
price = 19.99

# Perform arithmetic operations
discounted_price = price * 0.8
print(discounted_price)  # Output: 15.992

In [ ]:
# Perform arithmetic operations
discounted_price = price * 0.1
print(discounted_price)  # Output: 15.992

```{note}
"15" is not same as 15.
```

## Floats

2. Float (`float`): Represents numbers with decimal points. For example: 3.14, -2.5, 0.0.

In [ ]:
# Declare a float variable
price = 19.99

# Perform arithmetic operations
discounted_price = price * 0.8
print(discounted_price)  # Output: 15.992

15.991999999999999

In [ ]:
# Perform arithmetic operations
discounted_price = price * 0.1
print(discounted_price)  # Output: 15.992

1.9989999999999999

## String

3. String (`str`): Represents sequences of characters enclosed in single quotes (' ') or double quotes (" "). For example: "Hello", 'Python', "123".

In [ ]:
# Declare a string variable
greeting = "Hello, World!"

# Concatenate strings
welcome_message = greeting + " Welcome to Python!"
print(welcome_message)  # Output: Hello, World! Welcome to Python!

Hello, World! Welcome to Python!

## Lists

3. List (list): Represents an ordered collection of items enclosed in square brackets [ ]. Lists can contain elements of different data types and can be modified (mutable). For example: [1, 2, 3], ['apple', 'banana', 'cherry'].

In [ ]:
# Declare a list variable
fruits = ["apple", "banana", "cherry"]

# Access elements of a list
print(fruits[0])  # Output: apple

# Modify elements of a list
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

apple
['apple', 'blueberry', 'cherry']

In [ ]:
print(fruits[0])

apple

## Tuples

4. Tuple (`tuple`): Represents an ordered collection of items enclosed in parentheses ( ). Tuples are similar to lists, but they are immutable (cannot be modified). For example: (1, 2, 3), ('red', 'green', 'blue').

In [ ]:
# Declare a tuple variable
coordinates = (12.5, 45.3)

# Access elements of a tuple
print(coordinates[1])  # Output: 45.3

# Tuples are immutable; the following line will raise an error
# coordinates[1] = 50

45.3

## Dictionaries

5. Dictionary (`dict`): Represents a collection of key-value pairs enclosed in curly braces { }. Each value is associated with a unique key, allowing efficient retrieval of values. For example: {'name': 'John', 'age': 25, 'city': 'New York'}.

In [ ]:
# Declare a dictionary variable
person = {"name": "Alice", "age": 30, "comment":"it is very nice"}

# Access elements of a dictionary
print(person["name"])  # Output: Alice

# Modify elements of a dictionary
person["age"] = 31
print(person)  # Output: {'name': 'Alice', 'age': 31}

Alice
{'name': 'Alice', 'age': 31, 'comment': 'it is very nice'}

## Booleans

6. The boolean data type in Python represents logical values and has two possible states: `True` and `False`. Booleans are primarily used in conditional statements and logical operations. Here's some additional information about booleans in Python:

In [ ]:
# Declare a boolean variable
is_active = True

# Use boolean in a conditional statement
if is_active:
    print("User is active.")  # Output: User is active.

User is active.

In [ ]:
x = True
y = False

# Logical operators
print(x and y)      # Output: False
print(x or y)       # Output: True
print(not x)        # Output: False

# Comparison operators
a = 5
b = 10
print(a > b)        # Output: False
print(a <= b)       # Output: True

# Truthiness and falsiness
name = "Alice"
if name:            # Checks if the name variable is truthy
    print("Hello, " + name)
else:
    print("Name is empty")

False
True
False
False
True
Hello, Alice