<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_hannah/practice_exercise/practice_variables_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Simple Math Operations
Instructions: Write a program that:

- Adds 15 and 20 and prints the result.
- Multiplies 7 by 8 and prints the result.
- Divides 56 by 8 and prints the result.

In [8]:
# Addition
result_add = 15 + 20
print("15 + 20 =", result_add)

# Multiplication
#your code
result_multiply = 5 * 2
print("5 * 2 =", result_multiply)
# Division
result_divide = 72/9
print("72/9 =", result_divide)

15 + 20 = 35
5 * 2 = 10
72/9 = 8.0

 # Task 2: Using Variables
Instructions:

- Create a variable called name and set it to "Alex".
- Create another variable age and set it to 11.
- Print a sentence saying, "Hello, my name is Alex and I am 11 years old," but use the variables name and age to construct the sentence.

In [9]:
# Creating variables
name = "Sally"
age = 37

# Printing sentence using variables
print("hello, my name is", name, "and I am ", age, "years old.")

hello, my name is Sally and I am  37 years old.

# Task 3: Simple If Statement
Instructions: Write a program that:

- Takes a number and stores it in a variable called my_number.
- Checks if my_number is greater than 10.
- If it is, print "my_number is greater than 10!". If not, print "my_number is 10 or less!".

In [10]:
# Defining the number
my_number = 16

# Checking the condition
if my_number > 10:
  print("my_number is greater than 10")
else:
  print("my_number is 10 or less")

my_number is greater than 10

# Task 4: Area of a Rectangle
Instructions:

- Create two variables, length and width, and set them to 10 and 5 respectively.
- nCalculate the area of the rectangle (use the formula area = length * width).
- Print the result with the message: "The area of the rectangle is: [area]".

In [11]:
# Defining variables for length and width
length = 7
width = 9

# Calculating the area
area = length * width

# Printing the result
print("The area of the rectangle is:", area)

The area of the rectangle is: 63

# Task 5: Combining Strings
Instructions:

- Create a variable first_name and set it to "Sarah".
- Create another variable last_name and set it to "Connor".
- Combine first_name and last_name with a space in between to create a full name and print it as: "Full name: Sarah Connor".

In [14]:
# Defining first and last names
first_name = "Sarah"

last_name = "Connor"

mid_name = "sandy"
# Combining names
full_name = first_name  +  mid_name  + last_name

# Printing full name
print("Full name:", full_name)

Full name: SarahsandyConnor

# Task 6:  Temperature Conversion
Instructions:

- Create a variable called celsius and set it to 25.
- Convert this temperature to Fahrenheit using the formula fahrenheit = (celsius * 9/5) + 32.
- Print the result as: "Temperature in Fahrenheit: [fahrenheit]".

In [16]:
# Defining the Celsius temperature
celsius = 48

# Converting to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Printing the result
print("Temperature in fahrenheit:", fahrenheit)

Temperature in fahrenheit: 118.4

# Task 7: Favorite Animal Facts
Instructions:

- Create a variable called animal_name and set it to your favorite animal (e.g., "Dolphin").
- Create another variable animal_sound and set it to a sound the animal makes (e.g., "Click").
- Create a final variable animal_habitat and set it to where the animal lives (e.g., "Ocean").
Print a fun sentence like, "A Dolphin lives in the Ocean and makes a sound like Click!"

In [ ]:
# Defining animal details
animal_name = "Dolphin"
#your code

# Printing the sentence
#your code

A Dolphin lives in the Ocean and makes a sound like Click!

# Task 8: Story Time - Create Your Adventure
Instructions:

- Create a variable hero_name and set it to a character name of your choice.
- Create a variable place and set it to a fictional place (e.g., "Enchanted Forest").
- Create a variable goal and set it to something the character is trying to find (e.g., "magic stone").
- Print a short story like, "Once upon a time, [hero_name] traveled through the [place] in search of the [goal]."

In [ ]:
# Defining story elements
hero_name = "Luna"
#your code

# Printing the story
#your code

Once upon a time, Luna traveled through the Enchanted Forest in search of the magic stone.