<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_hannah/practice_exercise/practice_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
animals = ['cat', 'dog', 'rabbit', 'elephant', 'tiger']
for animal in animals:
    print(animal)

cat
dog
rabbit
elephant
tiger

# Double the Numbers
Create a list of numbers and use a for loop to double each number, printing the result.

In [19]:
numbers = [2, 4, 6, 8, 10]
for num in numbers:
    print(num * 2)

4
8
12
16
20

 # Student Grades
Given a dictionary of students and their grades, use a for loop to print each student’s name and their grade.

In [20]:
grades = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'Daisy': 88}
for student, grade in grades.items():
    print(f"{student}: {grade}")

Alice: 85
Bob: 78
Charlie: 92
Daisy: 88

# Task 1: Fruits in Uppercase
Given a list of fruits, use a for loop to print each fruit in uppercase.

In [26]:
Fruits = ['apple', 'banana', 'cherry', 'date']
# your code
for apple, Fruits in Fruits.items():
  print(f"{apple}: {Fruits}")

AttributeError: 'list' object has no attribute 'items'

In [ ]:
the oru

# Task 2: Counting Letters
Create a list of words, and use a for loop to print the word and the number of letters in each word.

In [ ]:
words = ['python', 'loop', 'kids', 'practice']
# Your code

python: 6 letters
loop: 4 letters
kids: 4 letters
practice: 8 letters

# Task 3: Square of Numbers
Given a list of numbers, use a for loop to print the square of each number.

In [ ]:
numbers = [1, 3, 5, 7, 9]
# your code

1
9
25
49
81

# Task 4: Favorite Colors
Given a dictionary of people and their favorite colors, use a for loop to print each person’s name and their favorite color.

In [ ]:
favorite_colors = {'John': 'blue', 'Sarah': 'green', 'Mike': 'red', 'Emma': 'yellow'}
# your code

John's favorite color is blue
Sarah's favorite color is green
Mike's favorite color is red
Emma's favorite color is yellow

# Task 5: Even or Odd Numbers
Given a list of numbers, use a for loop to check if each number is even or odd and print the result.

In [ ]:
numbers = [10, 15, 22, 33, 42]
for num in numbers:
    if num % 2 == 0:
# Finish the code

10 is even
15 is odd
22 is even
33 is odd
42 is even

# Task 6: Passing or Failing Grades

Given a dictionary of students and their grades, use a for loop to check if each student passed or failed. Assume the passing grade is 60 or above.

In [ ]:
grades = {'Alice': 85, 'Bob': 55, 'Charlie': 92, 'Daisy': 45}
# your code

Alice passed with a grade of 85
Bob failed with a grade of 55
Charlie passed with a grade of 92
Daisy failed with a grade of 45