<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/enkhuils/practice_exercise/practice_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Add Two Numbers
Create a function that takes two numbers as arguments and returns their sum.

In [4]:
def add_numbers(a, b):
    return a + b

In [2]:
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 10)
print(result)

15

In [6]:
def add_numbers(a, b):
    return a + b

In [17]:
def make_title(word):
    return word.title
favorite_foods = ["pizza, hamburger, nachos, chicken, bacon"]
for food in favorite_foods
    print(make_title(food))

SyntaxError: expected ':' (<ipython-input-17-2d331b2b7490>, line 4)

 # Task 2: Multiply Two Numbers

Create a function that takes two numbers as arguments and returns their product.

In [8]:
def multiply_numbers(a, b):
   return a * b
result = multiply_numbers(5, 7)
print(result)

35

In [ ]:
# Your code is here

50

# Task 3: Subtract Two Numbers
Create a function that takes two numbers as arguments and returns their difference (first number minus the second number).

In [ ]:
# Your code is here

In [ ]:
# Example usage
result = subtract_numbers(10, 5)
print(result)  # Output: 5

5

# Task 4: Concatenate Two Strings
Create a function that takes two strings as arguments and returns their concatenation (joined together).

In [ ]:
# Your code is here

In [ ]:
# Example usage
result = concatenate_strings("Hello, ", "world!")
print(result)  # Output: Hello, world!

Hello, world!

# Task 5: Repeat a String
Create a function that takes a string and a number as arguments and returns the string repeated that many times.

In [ ]:
# Your code is here

In [ ]:
# Example usage
result = repeat_string("Hello", 3)
print(result)  # Output: HelloHelloHello

HelloHelloHello

# Task 6: Get the First Character of a String
Create a function that takes a string as an argument and returns the first character of the string.

In [ ]:
# Your code is here

In [ ]:
# Example usage
result = first_character("Python")
print(result)  # Output: P

P

# Task 7: Get the Second Character of a String
Create a function that takes a string as an argument and returns the second character of the string.

In [ ]:
# Your code is here

In [ ]:
# Example usage
result = second_character("Python")
print(result)  # Output: P

y

# Task 8: Find the Length of a String
Create a function that takes a string as an argument and returns the length of the string (how many characters it has).

In [ ]:
# Your code is here

# Example usage
result = string_length("Hello")
print(result)  # Output: 5

5

# Task 9: Convert a String to Uppercase
Create a function that takes a string as an argument and returns the string in all uppercase letters.

In [ ]:
# Your code is here

# Example usage
result = to_uppercase("hello")
print(result)  # Output: HELLO

HELLO