<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/practice_exercise/practice_list_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Add Two Numbers
Create a function that takes two numbers as arguments and returns their sum.

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
# Example usage
result = add_numbers(5, 10)
print(result)

15

 # Task 2: Multiply Two Numbers

Create a function that takes two numbers as arguments and returns their product.

In [ ]:
def multiply_numbers(a, b):
    return a * b

In [ ]:
# Example usage
result = multiply_numbers(5, 10)
print(result)  # Output: 50

50

# Task 3: Subtract Two Numbers
Create a function that takes two numbers as arguments and returns their difference (first number minus the second number).

In [ ]:
def subtract_numbers(a, b):
    return a - b

In [ ]:
# Example usage
result = subtract_numbers(10, 5)
print(result)  # Output: 5

5

# Task 4: Concatenate Two Strings
Create a function that takes two strings as arguments and returns their concatenation (joined together).

In [ ]:
def concatenate_strings(str1, str2):
    return str1 + str2

In [ ]:
# Example usage
result = concatenate_strings("Hello, ", "world!")
print(result)  # Output: Hello, world!

Hello, world!

# Task 5: Repeat a String
Create a function that takes a string and a number as arguments and returns the string repeated that many times.

In [ ]:
def repeat_string(s, n):
    return s * n

In [ ]:
# Example usage
result = repeat_string("Hello", 3)
print(result)  # Output: HelloHelloHello

HelloHelloHello

# Task 6: Get the First Character of a String
Create a function that takes a string as an argument and returns the first character of the string.

In [ ]:
def first_character(s):
    return s[0]

In [ ]:
# Example usage
result = first_character("Python")
print(result)  # Output: P

P

# Task 7: Get the Second Character of a String
Create a function that takes a string as an argument and returns the second character of the string.

In [ ]:
def second_character(s):
    return s[1]

In [ ]:
# Example usage
result = second_character("Python")
print(result)  # Output: P

y

# Task 8: Find the Length of a String
Create a function that takes a string as an argument and returns the length of the string (how many characters it has).

In [ ]:
def string_length(s):
    return len(s)

# Example usage
result = string_length("Hello")
print(result)  # Output: 5

5

# Task 9: Convert a String to Uppercase
Create a function that takes a string as an argument and returns the string in all uppercase letters.

In [ ]:
def to_uppercase(s):
    return s.upper()

# Example usage
result = to_uppercase("hello")
print(result)  # Output: HELLO

HELLO