<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_hannah/practice_exercise/practice_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Add a New Item to the List
Start with a list of 3 colors. Then, add a new color to the list and print the updated list.

In [1]:
# your code is here
colors = ["pink", "yellow", "purple"]
colors.append("blue")
print(colors)

['pink', 'yellow', 'purple', 'blue']

 # Task 2: Find the Largest Number in a List
Create a list of 5 numbers and use the max() function to find and print the largest number.

In [2]:
numbers = [2,9,4,3,6]
largest = max(numbers)
print("The largest number is:", largest)

The largest number is: 9

# Task 3: Reverse a List
Create a list of 5 numbers and print the list in reverse order.

In [1]:
# your code is here
numbers = [10,9,8,7,6,5]
reversed_numbers = numbers
print(reversed_numbers)

[10, 9, 8, 7, 6, 5]

# Task 4: Remove an Item from the List
Start with a list of 4 animals. Remove one animal from the list and print the updated list.

In [2]:
# your code is here
animals = ["lion", "pig", "horse", "fish"]
animals.remove("lion")
print(animals)

['pig', 'horse', 'fish']

# Task 5: Count Items in a List
Create a list with some repeated items (e.g., colors). Use the count() method to find out how many times a specific item appears in the list.

In [4]:
# your code is here
colors = ["red", "purple", "red", "purple", "red"]
red_count = colors.count("red")
print("Red appears", red_count, "times in the list.")

Red appears 3 times in the list.

# Task 6: Sum of All Numbers
Create a list of 5 numbers and use the sum() function to calculate and print the total sum of the numbers.

In [ ]:
# your code is here

print("The sum of the numbers is:", total_sum)

The sum of the numbers is: 150

# Task 7: Find the Smallest Number
Create a list of 6 numbers and use the min() function to find and print the smallest number in the list.

In [ ]:
# your code is here

print("The smallest number is:", smallest_number)

The smallest number is: 5

# Task 7: Combine Two Lists
Create two lists of three items each (e.g., fruits and vegetables). Combine them into one list and print the new combined list.

In [ ]:
# your code is here
print(combined_list)

['Apple', 'Banana', 'Orange', 'Carrot', 'Spinach', 'Broccoli']