<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_enko/practice_exercise/practice_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Add Two Numbers
Create a function that takes two numbers as arguments and returns their sum.

In [41]:
def add_numbers(a, b):
    return a + b

In [42]:
# Example usage
result = add_numbers(10, 10)
print(result)

20

 # Task 2: Multiply Two Numbers

Create a function that takes two numbers as arguments and returns their product.

In [43]:
def product_numbers(a, b):
    return a * b

In [44]:
# Your code is here
# Example usage
result = product_numbers(10, 30)
print(result)

300

# Task 3: Subtract Two Numbers
Create a function that takes two numbers as arguments and returns their difference (first number minus the second number).

In [45]:
# Your code is here
def subtract_numbers(a, b):
    return a - b

In [46]:
# Example usage
result = subtract_numbers(10, 5)
print(result)  # Output: 5

5

# Task 4: Concatenate Two Strings
Create a function that takes two strings as arguments and returns their concatenation (joined together).

In [47]:
# Your code is here
def concatenate_strings(st1, st2):
    return st1 + st2

In [48]:
# Example usage
result = concatenate_strings("Hello, ", "world!")
print(result)  # Output: Hello, world!

Hello, world!

# Task 5: Repeat a String
Create a function that takes a string and a number as arguments and returns the string repeated that many times.

In [49]:
# Your code is here
def repeat_string(a, b):
  return a * b

In [50]:
# Example usage
result = repeat_string("Hello", 3)
print(result)  # Output: HelloHelloHello

HelloHelloHello

# Task 6: Get the First Character of a String
Create a function that takes a string as an argument and returns the first character of the string.

In [51]:
# Your code is here
def first_character(p):
  return p[0]

In [52]:
# Example usage
result = first_character("Python")
print(result)  # Output: P

P

# Task 7: Get the Second Character of a String
Create a function that takes a string as an argument and returns the second character of the string.

In [53]:
# Your code is here
def second_character(p):
  return p[1]

In [54]:
# Example usage
result = second_character("Python")
print(result)  # Output: P

y

# Task 8: Find the Length of a String
Create a function that takes a string as an argument and returns the length of the string (how many characters it has).

In [55]:
# Your code is here
def string_length(str):
  return len(str)

# Example usage
result = string_length("Hello")
print(result)  # Output: 5

5

# Task 9: Convert a String to Uppercase
Create a function that takes a string as an argument and returns the string in all uppercase letters.

In [56]:
# Your code is here
def to_uppercase(up):
  return up.upper()


# Example usage
result = to_uppercase("hello")
print(result)  # Output: HELLO

HELLO