## Integers

In [1]:
# Declare an integer variable
age = 25

# Perform arithmetic operations
result = age + 5
print(result)  # Output: 30

30

In [8]:
age = 40
result = age + 100

In [9]:
print(result)

140

## Floats

In [10]:
# Declare a float variable
price = 19.99

# Perform arithmetic operations
discounted_price = price * 0.8
print(discounted_price)  # Output: 15.992

15.991999999999999

In [11]:
# Perform arithmetic operations
discounted_price = price * 0.1
print(discounted_price)  # Output: 15.992

1.9989999999999999

## Strings

In [14]:
# Declare a string variable
greeting = "Hello, World!"

# Concatenate strings
welcome_message = greeting + " Welcome to Python!"
print(welcome_message)  # Output: Hello, World! Welcome to Python!

Hello, World! Welcome to Python!

In [18]:
"Byamba" == "byamba "

False

In [17]:
"Byamba" == "Byamba"

True

## Lists

In [19]:
# Declare a list variable
fruits = ["apple", "banana", "cherry"]

# Access elements of a list
print(fruits[0])  # Output: apple

# Modify elements of a list
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

apple
['apple', 'blueberry', 'cherry']

In [23]:
print(fruits[0])

apple

In [26]:
numbers=[1,2,5, 0.8, "dog"]

In [28]:
print(numbers[4])

dog

In [29]:
numbers[0]

1

## Tuples

In [30]:
# Declare a tuple variable
coordinates = (12.5, 45.3)

# Access elements of a tuple
print(coordinates[1])  # Output: 45.3

# Tuples are immutable; the following line will raise an error
# coordinates[1] = 50

45.3

## Dictionaries

In [33]:
# Declare a dictionary variable
person = {"name": "Alice", "age": 30, "comment":"it is very nice"}

# Access elements of a dictionary
print(person["name"])  # Output: Alice

# Modify elements of a dictionary
person["age"] = 31
print(person)  # Output: {'name': 'Alice', 'age': 31}

Alice
{'name': 'Alice', 'age': 31, 'comment': 'it is very nice'}

In [34]:
person['comment']

'it is very nice'

In [35]:
person.keys()

dict_keys(['name', 'age', 'comment'])

In [36]:
person.values()

dict_values(['Alice', 31, 'it is very nice'])

## Booleans

In [38]:
# Declare a boolean variable
is_active = True

# Use boolean in a conditional statement
if is_active:
    print("User is active.")  # Output: User is active.

User is active.

In [39]:
6 > 5

True

In [40]:
4 < 1

False

In [43]:
is_active = False


if is_active:
    print("yes")
else:
    print("no")

no

In [44]:
person['name']=='Byamba'

False

In [45]:
person['name']=='Alice'

True

In [46]:
person['age']==41

False