<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/introduction/dataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Declare an integer variable
age = 25

# Perform arithmetic operations
result = age + 5
print(result)  # Output: 30

In [ ]:
age = 40
result = age + 100

In [ ]:
print(result)

In [ ]:
# Declare a float variable
price = 19.99

# Perform arithmetic operations
discounted_price = price * 0.8
print(discounted_price)  # Output: 15.992

In [ ]:
# Perform arithmetic operations
discounted_price = price * 0.1
print(discounted_price)  # Output: 15.992

In [ ]:
"Byamba" == "byamba "

In [ ]:
"Byamba" == "Byamba"