<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/Mini%20Project%201/Hanna_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge Tables

In [3]:
data1 = {
    'Name': ['Emma', 'Oliver', 'Ava'],
    'Grade': [45, 90, 21],
    'id': [1, 2,3]
}

data2 = {
    'Name': ['Emma', 'Oliver', 'Lucas'],
    'Age': [10, 12, 10],
    'id': [1, 2,4]
}

In [4]:
print(data1['Name'])

['Emma', 'Oliver', 'Ava']

In [5]:
print(data2['Name'])

['Emma', 'Oliver', 'Lucas']

# Print Grade from data1 dictionary

In [ ]:
data2['id']

[1, 2, 4]

In [ ]:
data2['Age']

[10, 12, 10]

In [ ]:
# Complete the following code

for age in *****:
  print(age)

10
12
10

In [ ]:
# Complete the following code

for **** in data1['Name']:
  print(name)

Emma
Oliver
Ava

# Homework

In [7]:
for name in data1['Name']:
 #Your code is here.

Hi, Emma
Hi, Oliver
Hi, Ava

In [11]:
for age in data2['Age']:
#Your code is here

10 year old.
12 year old.
10 year old.

In [12]:
# Complete the following code using data2
for i in ******:
  print(i)

1
2
4

In [13]:
# Complete the following code using data2

  print(i)

10
12
10