<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/titanic_data_analysis/basic_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3


# SQL

- Step 1. Download titanic.sqlite

- step 2. Upload file into notebook

- step 3. Run the first two cells

In [12]:
# Connect to the SQLite database
conn = sqlite3.connect('titanic.sqlite')

# Read the 'titanic' table into a pandas DataFrame
df = pd.read_sql('SELECT * FROM titanic', conn)

In [3]:
query = '''
SELECT
FROM
WHERE
ORDER BY
LIMIT
'''

In [9]:
query = '''
select Name, Sex, Age from titanic where Sex = "male" order by Age desc limit 10
'''

df = pd.read_sql(query, conn)

df

                                   Name   Sex   Age
0  Barkworth, Mr. Algernon Henry Wilson  male  80.0
1                   Svensson, Mr. Johan  male  74.0
2             Goldschmidt, Mr. George B  male  71.0
3               Artagaveytia, Mr. Ramon  male  71.0
4                  Connors, Mr. Patrick  male  70.5
5           Mitchell, Mr. Henry Michael  male  70.0
6          Crosby, Capt. Edward Gifford  male  70.0
7                 Wheadon, Mr. Edward H  male  66.0
8        Ostby, Mr. Engelhart Cornelius  male  65.0
9                      Duane, Mr. Frank  male  65.0

In [15]:
df2 = df[["Name", "Sex", "Age"]]
df2[df2['Sex']=='male'].sort_values('Age')

                                Name   Sex   Age
803  Thomas, Master. Assad Alexander  male  0.42
755        Hamalainen, Master. Viljo  male  0.67
831  Richards, Master. George Sibley  male  0.83
78     Caldwell, Master. Alden Gates  male  0.83
305   Allison, Master. Hudson Trevor  male  0.92
..                               ...   ...   ...
839             Marechal, Mr. Pierre  male   NaN
846         Sage, Mr. Douglas Bullen  male   NaN
859                 Razi, Mr. Raihed  male   NaN
868      van Melkebeke, Mr. Philemon  male   NaN
878               Laleff, Mr. Kristo  male   NaN

[577 rows x 3 columns]


# Task 1: Select Specific Columns

- Write an SQL query to display only the Name, Age, and Survived columns from the Titanic dataset.

# Task 2: Filtering Rows

- Write an SQL query to display passengers who were under 18 years old.

# Task 3: Count Passengers by Survival Status

- Write an SQL query to count how many passengers survived and how many did not.

# Task 4: Sorting the Data

- Write an SQL query to display the names and ages of passengers, sorted by age in descending order (from oldest to youngest).

# Task 5: Finding the Average Age

- Write an SQL query to calculate the average age of all passengers.

# Task 6: Counting Passengers by Embarked Port

- Write an SQL query to count how many passengers embarked from each port (Embarked column).