<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/nurmaa/titanic_data_analysis/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import regex as re
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Titanic Data Analysis
1. How many people died?

In [6]:
df[df['Survived']==0].shape

(549, 12)

In [17]:
total = df.shape[0]

In [19]:
survived = df[df['Survived']==1].shape[0]

print(f"There were {total} people traveling and {survived} people were  survived.")

There were 891 people traveling and 342 people were  survived.


# Task 2:
- How many people survived?

# Task 3:
- How many women died?
- How many men died?
- How many kids died?
- How many boys died?

In [20]:
df[(df["Sex"]=="female")&(df["Survived"]==0)].shape[0]

81

In [21]:
df[(df["Sex"]=="male")&(df["Survived"]==0)].shape[0]

468

In [22]:
df[df['Age']<=18].shape[0]

139

In [23]:
df[(df['Age']<=18)&(df['Survived']==0)].shape[0]

69

In [24]:
df[(df['Age']<=18)&(df['Survived']==0)&(df["Sex"]=="male")].shape[0]

47

# Homework 1:



1. How many passengers were on board the Titanic?

2. How many male and female passengers were on board?


3. What is the average age of the passengers?


4. How many passengers survived, and how many did not?

5. Which passenger class had the most survivors?


6. What was the most common age of the passengers?


7. How many passengers had siblings or spouses aboard?


8. Find the youngest and oldest passengers on board.


9. What was the average fare paid by passengers?


10. How many passengers had missing data in the 'Age' column?