<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/class_zero_urangoo/titanic_data_analysis/titanic_additional_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import regex as re
import os

In [2]:
df = pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Survival Rate by Gender

- Task: Calculate the survival rate for male and female passengers.

- Instruction: Use groupby() and mean() to analyze data.

In [3]:
survival_by_gender = "your code is here"

In [18]:
survival_counts =  df[df['Survived']== 0]
print(survival_rates)

Survived          0          1
Sex
female    25.796178  74.203822
male      81.109185  18.890815

# Age Distribution of Passengers

- Task: Plot the distribution of passengers’ ages.

- plotting histograms to visualize distributions.

In [4]:

# your code is here

# Average Fare Paid

- Task: Find the average fare paid by passengers who survived and those who didn't.

- Use: aggregation functions like mean().

In [5]:
# your code is here
fare_by_survival

NameError: name 'fare_by_survival' is not defined

# Richest Passenger

- Task: Find the passenger who paid the highest fare.

- Use: idxmax()

In [7]:
richest_passenger = "you code is here"
print(richest_passenger)

you code is here

# Survival Rate by Age Group

- Task: Create age groups (children, adults, seniors) and calculate survival rates for each group.

-  creating categories and grouping

In [8]:
bins = [0, 12, 18, 60, 100]
labels = ['Child', 'Teen', 'Adult', 'Senior']
# your code here
survival_by_agegroup

NameError: name 'survival_by_agegroup' is not defined

# Family Size and Survival

- Task: Create a new column for family size (SibSp + Parch) and analyze how family size impacted survival.

- Use: combine columns.

In [ ]:

survival_by_familysize

FamilySize
0     0.303538
1     0.552795
2     0.578431
3     0.724138
4     0.200000
5     0.136364
6     0.333333
7     0.000000
10    0.000000
Name: Survived, dtype: float64

# Finding a Specific Passenger

- Task: Find a passenger by their name and explore their details.

- Use: Work with text data and string matching.

In [ ]:

passenger

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeGroup,FamilySize
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S,Adult,0
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S,Adult,1
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,10
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q,NaN,1
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S,Senior,0
260,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q,NaN,0
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S,Adult,1
347,348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,NaN,S,NaN,1
364,365,0,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q,NaN,1
372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S,Adult,0
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,NaN,S,NaN,0
560,561,0,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,NaN,0
670,671,1,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.00,1,1,29750,39.0000,NaN,S,Adult,2
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C,Adult,1
684,685,0,2,"Brown, Mr. Thomas William Solomon",male,60.00,1,1,29750,39.0000,NaN,S,Adult,2
758,759,0,3,"Theobald, Mr. Thomas Leonard",male,34.00,0,0,363294,8.0500,NaN,S,Adult,0
778,779,0,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q,NaN,0
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,Child,1
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,Adult,0
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q,NaN,0
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S,Teen,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C,Adult,1