<a href="https://colab.research.google.com/github/byambaa1982/python_cources_for_beginers/blob/main/titanic_data_analysis/titanic_data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import regex as re
import os

In [5]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# Check for missing values
# df.isnull().sum()

In [17]:
# df.info()

In [18]:
# df.describe()

In [12]:
import matplotlib.pyplot as plt

In [19]:
# Count the number of passengers in each class
# pclass_counts = df['Pclass'].value_counts()

# # Create a bar chart
# pclass_counts.plot(kind='bar')
# plt.title('Number of Passengers by Class')
# plt.xlabel('Passenger Class')
# plt.ylabel('Count')
# plt.show()

# Titanic Data Analysis
1. How many people died?

In [21]:
# Count the number of survivors and non-survivors
# survived_counts = df['Survived'].value_counts()

# Create a pie chart
# survived_counts.plot(kind='pie', autopct='%1.1f%%', labels=['Did Not Survive', 'Survived'])
# plt.title('Proportion of Passengers Who Survived')
# plt.ylabel('')
# plt.show()